---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: black;
$heading-color: #000000;
$link-color: #841212;

@import "ed";
@import "syntax";
@import "CETEIcean.css";

img.resize {
  max-width: 50%;
  max-height: 50%;
}

[type="place"] {
  color: blue;
  font-weight: bold;
  
}

[type="person"] {
  color: rgb(105, 3, 3);
  font-weight: bold ;

}

[type="office"] {
  color:rgb(105, 3, 3);
  font-weight: bold;

}

[type="placeGeo"] {
  color: green;
  font-weight: bold;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 3000px) {
  body {
    background-image: url(/group-5/assets/paper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    image-rendering: auto;
    
  }
}

@media screen and (max-width: 992px) {
  body {
    background-image: url(/group-5/assets/paper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    image-rendering: auto;
}
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(/group-5/assets/paper.jpg);
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: fixed;
    image-rendering: auto;
}
}
